/* This file defines styles for aesthetic purposes only.
 * Feel free to override or replace by your own styling. */
/* line 11, ../sass/demo.sass */
body {
  background-color: #dddddd;
}

/* line 15, ../sass/demo.sass */
.accordeon li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 7px;
  padding-right: 7px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 24, ../sass/demo.sass */
.accordeon li.details-block {
  width: 390px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 1.6;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
}
/* line 37, ../sass/demo.sass */
.accordeon li.details-block img {
  display: inline-block;
}
/* line 41, ../sass/demo.sass */
.accordeon li.details-block section {
  display: inline-block;
  width: 272px;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 47, ../sass/demo.sass */
.accordeon li.details-block section p:last-of-type {
  margin-bottom: 0;
}
/* line 52, ../sass/demo.sass */
.accordeon li.active, .accordeon li:hover, .accordeon li.content-block {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 56, ../sass/demo.sass */
.lt-ie10 .accordeon summary {
  margin-left: -3px;
}

/* line 59, ../sass/demo.sass */
.close-button {
  position: absolute;
  right: 7px;
  top: 4px;
  cursor: pointer;
}
