/* This file defines styles for aesthetic purposes only.
 * Feel free to override or replace by your own styling.

@import compass/css3/opacity
@import compass/css3/transition

$vspace: .5em
$light-grey: #ddd
$grey: #777

body
	background-color: $light-grey

.accordeon
	li
		margin:
			top: $vspace
			bottom: $vspace

		padding:
			left: 7px
			right: 7px

		&.details-block
			width: 390px
			margin:
				top: $vspace
				bottom: $vspace
			padding:
				top: $vspace * 2
				bottom: $vspace * 2
			line-height: 1.6
			border-top: 1px solid $grey
			border-bottom: 1px solid $grey
			//text-shadow: 0

			img
				display: inline-block
				//float: left

			section
				display: inline-block
				width: 272px
				padding:
					left: 7px
					right: 7px
				p:last-of-type
					margin-bottom: 0

		+opacity(0.7)
		+single-transition(opacity, 0.2s)
		&.active, &:hover, &.content-block
			+opacity(1)

	summary
		.lt-ie10 &
			margin-left: -3px

.close-button
	position: absolute
	right: 7px
	top: 4px
	cursor: pointer
